*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    display: grid;
    width: 100%;
    height: 55px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    z-index: 2;
    position: fixed;
    backdrop-filter: blur(8px);
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
}
.navbar-left, .navbar-right{
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
}
header article a{
    color: #FFF;
    text-decoration: none;
}
.navbar-center ul{
    display: grid;
    MARGIN: 0 auto;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.navbar-center ul li{
    list-style-type: none;
}
/* MAIN */
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(189,128,159,1) 0%, rgba(9,9,136,1) 50%, rgba(0,212,255,1) 100%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    position: absolute;
    top: 0;
    z-index: 1;
    position: relative;
}
@keyframes gradient {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
.tags{
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px 15px;
    background: rgba(255, 255, 255, .5);
    position: relative;
    top: 15%;
    left: 5vh;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 2;
}
.tag1{
    position: relative;
    top: 23vh;
    left: 25vw;
    border-radius: 5px 5px 0 5px;
    animation: appearTags 3s ease-in-out;
}
.tag2{
    top: 45vh;
    left: 51vw;
    border-radius: 5px 5px 5px 0;
    animation: appearTags 7s ease-in-out;
}
.tag3{
    top: 52vh;
    left: -10vw;
    border-radius: 0 5px 5px 5px;
    animation: appearTags 10s ease-in-out;
}
@keyframes appearTags {
    0%{ opacity: 0;}    
    100%{ text-shadow: 0 0 15px red; opacity: 1; }    
}
.image-me{
    display: grid;
    place-items: center;
    height: calc(100vh - 60px);
}
.image-container{
    position: relative;
    top: -6%;
}
.image-me img{
    width: 350px;
    height: auto;
    border-radius: 50%;
}
.image-container p{
    text-align: center;
    font-size: 2.5rem;
}
.main-name{
    font-family: 'Comforter', cursive;
    margin: 3rem 0 1rem 0;
    font-size: 3.3rem;
}
.main-city{
    font-family: 'Yellowtail', cursive;
}
/* SKILLS */
.skills{
    position: relative;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    background-image: radial-gradient(circle, rgba(249,239,23,1) 18%, rgba(210,211,129,1) 40%);
}
.light-active{
    background: rgba(12, 19, 84, 1);
}
.skills-list1, .skills-list2{
    display: grid;
    place-items: center;
    height: 80%;
    margin: auto 0;
    font-size: 1.35rem;
    font-family: 'Palanquin', sans-serif;
    z-index: 20;
}
.activeSwinging{
    animation: swinging 1.5s ease-in-out infinite;
}
@keyframes swinging {
    0%{ transform: rotateY(0deg); }
    25%{ transform: rotateY(-35deg); }
    75%{ transform: rotateY(35deg); }
    100%{ transform: rotateY(0deg); }
}
.skills-list1 p, .skills-list2 p{
    border: 1px solid rgba(210,211,129,1);
    padding: 10px 15px;
    border-radius: 5px;
    color: rgba(210,211,129,1);
    transition: .3s all;
}
.skills-list1 p:hover, .skills-list2 p:hover{
    transform: scale(1.1);
}
.skills-light{
    display: grid;
    place-items: center;
}
.skills-imgContainer{
    position: absolute;
}
.skills-light img{
    width: 500px;
}
.skills-quoteContainer{
    position: relative;
    align-self: end;
}
.skills-quoteContainer p:first-child{
    font-family: 'Quintessential', cursive;
    letter-spacing: 2px;
}
.skills-quoteContainer p:last-child{
    font-family: 'Comforter', cursive;
    font-size: 2.5rem;
    word-spacing: 1ch;
    letter-spacing: 2px;
}
.skills-light p{
    color: #FFF;
    font-size: 1.8rem;
    margin-top: 4rem;
    text-align: center;
}
.skills-light p:last-child{
    letter-spacing: 3.5px;
    word-spacing: 4px;
}
/* PROJECTS */
.projects{
    display: grid;
    width: 100%;
    min-height: 100vh;
    background: #110f1c;
    grid-template-rows: 150px 1fr;
}
.projects-title{
    margin: 7rem auto 0 auto;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    font-family: 'Rowdies', cursive;
    word-spacing: 4px;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, rgba(189,128,159,1) 0%, rgba(9,9,136,1) 50%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    perspective: 900px;
    place-items: center;
    height: 65%;
    margin-top: 3rem;
}
.projects-container img{
    border-radius: 5px 5px 0 0;
}
.projects-container div{
    transition: .5s all ease;
    transform: rotateX(40deg) scale(0.8);
    perspective: 900px;
    border: 2px solid #f7a600;;
    border-radius: 8px;
    animation: entry 1s linear 1; 
    box-shadow:  0 0px 38px rgb(247 166 0 / 60%);
}
.projects-container div:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    box-shadow: 0 0px 57px rgb(247 166 0 / 30%), 0 0px 50px rgb(247 166 0 / 40%);
  }

@keyframes entry {
    0% {
      top: -20%;
      opacity: 0.1;
    }
    100% {
      top: 0%;
    }
  }
.projects-container img{
    width: 400px;
}
.projects-container p{
    color: #000;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    padding: 3px 0;
    background-color: #CCC;
    margin-top: -5px;
}
/* ABOUT */
.about{
    display: grid;
    background-color: rgba(34, 40, 49, 1);
    min-height: 100vh;
    grid-template-rows: 145px 1fr;
}
.about-title{
    margin: 5rem auto 0 auto;
    font-size: 3rem;
    font-weight: bold;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    font-family: 'Rowdies', cursive;
    word-spacing: 4px;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, rgba(189,128,159,1) 0%, rgba(9,9,136,1) 50%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes gradient {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
.about-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-top: 2rem;
}
.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 95%;
    height: auto;
    margin: auto;
    grid-gap: 3rem;
}
.about-me div p:first-child{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: .65rem;
    color: #FFF;
    font-size: 1.1rem;
    font-family: 'Lato';
}
.about-me div p{
    color: #FFF;
    line-height: 1.5;
}
.about-me div{
    border: 1px solid rgba(74, 227, 45, 1);
    box-shadow: 0 0 15px rgba(74, 227, 45, 1);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: ease-in-out .3s;
    min-height: 300px;
}
.about-me div:hover, .about-img img{
    transform: scale(1.05);
    animation: breathing 4.5s ease-in-out infinite;
}
@keyframes breathing {
    0%{ box-shadow: 0 0 15px rgba(74, 227, 45, 1); }
    25%{ box-shadow: 0 0 10px rgba(74, 227, 45, .4); }
    60%{ box-shadow: 0 0 15px rgba(74, 227, 45, 1); }
    100%{ box-shadow: 0 0 15px rgba(74, 227, 45, 1); }
}
.about-img{
    width: 85%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    margin-top: -20rem;
}
.about-img img{
    width: 25rem;
    border-radius: 50%;
    border: 1px solid rgba(74, 227, 45, 1);
}
/* CONTACT */
.contact{
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(189,128,159,1) 0%, rgba(9,9,136,1) 50%, rgba(0,212,255,1) 100%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    position: relative;
}
.contact-backdrop{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 650px;
}
.contact-card{
    background-color: rgba(255, 255, 255, .2);
    grid-template-rows: 3fr 2fr;
    backdrop-filter: blur(10px);

}
.contact-background{
    background-image: url(../img/hyperx.jpg);
    background-size: cover;
    z-index: 1;
    opacity: .3;
}
.contact-image{
    width: 50%;
    margin: 4rem auto;
    text-align: center;
    z-index: 2;
}
.contact-image img{
    width: 300px;
    border-radius: 50%;
}
.contact-email{
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-family: 'Comforter', cursive;
    letter-spacing: 2px;
}
.contact-socialNetworks{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 5rem auto 0 auto;
    place-items: center;
    z-index: 2;
}
.contact-socialNetworks img{
    width: 45px;
}
/* FOOTER */
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 55px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    margin-top: -55px;
    color: #FFF;
    font-size: 1.2rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) and (max-width: 1450px){
    .projects{
        padding-bottom: 4rem;
    }
    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-me div{
        font-size: 1rem;
    }
    .about-img img {
        width: 85%;
    }
}
@media screen and (min-width: 500px) and (max-width: 999px){
    .tag2{
        left: 14vw;
    }
    .tag3{
        left: -2vw;
    }
    .skills-list1, .skills-list2{
        font-size: 1rem;
    }
    .skills-light img {
        width: 350px;
    }
    .skills-light p{
        font-size: 1.1rem;
    }
    .skills-quoteContainer p:last-child{
        font-size: 1.5rem;
    }
    .projects{
        padding-bottom: 4rem;
    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-me {
        grid-template-columns: 1fr;
        width: 60%;
    }
    .about-me div{
        min-height: 0;
    }
    .about-img{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    .contact-email{
        font-size: 2rem;
    }
    .contact-socialNetworks img{
        width: 35px;
    }
}
@media screen and (min-width: 0px) and (max-width: 499px){
    .tag2{
        left: 14vw;
    }
    .tag3{
        left: -2vw;
    }
    .skills-list1, .skills-list2{
        font-size: 1rem;
    }
    .skills-light img {
        width: 350px;
    }
    .skills-light p{
        font-size: 1.1rem;
    }
    .skills-quoteContainer p:last-child{
        font-size: 1.5rem;
    }
    .projects{
        padding-bottom: 4rem;
    }
    .projects-title{
        font-size: 1.4rem;
    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
        transform: scale(.7);
        width: 100%;
        margin-top: -7rem;
        margin-bottom: -16rem;
    }
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-title{
        font-size: 2.4rem;
    }
    .about-me {
        grid-template-columns: 1fr;
        width: 85%;
    }
    .about-me div{
        min-height: 0;
        font-size: .9rem;
        padding: 0.5rem;
    }
    .about-img{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    .about-img img {
        width: 85%;
    }
    .contact-image{
        width: 100%;
    }
    .contact-email{
        font-size: 2rem;
    }
    .contact-socialNetworks img{
        width: 25px;
    }
}